<div class="widgets">

  <app-plate>
    <div class="info-block">
      <header class="info-block__header">
        <h1 class="info-block__header-title">
          <a href="#" class="link _text">Погода</a>
        </h1>
        <h1 class="info-block__header-title _color-gray">
          <a href="#" class="link _text">Карта осадков</a>
        </h1>
        <button class="info-block__options options-icon"></button>
      </header>

      <div class="widget-content">
        <a href="#" class="widget-content__info link _text">
          <div
            class="widget-content__picture widget-content__weather-picture weather-picture"
          ></div>
          <div class="widget-content__value">−1°</div>
        </a>
        <div class="widget-content__weather-forecast">
          <a href="#" class="link _text">ночью −1°</a>
          <a href="#" class="link _text">утром +3°</a>
        </div>
      </div>
    </div>
    <div class="info-block">
      <header class="info-block__header">
        <h1 class="info-block__header-title">
          <a href="#" class="link _text">Пробки</a>
        </h1>
        <h1 class="info-block__header-title _color-gray">
          <a href="#" class="link _text">Метро</a>
        </h1>
        <h1 class="info-block__header-title _color-gray">
          <a href="#" class="link _text">Расписания</a>
        </h1>
        <button class="info-block__options options-icon"></button>
      </header>

      <div class="widget-content">
        <a href="#" class="widget-content__info link _text">
          <div
            class="widget-content__picture widget-content__traffic-picture traffic-picture"
          ></div>
          <div class="widget-content__value">4</div>
        </a>
        <div class="widget-content__traffic-forecast">
          <div class="widget-content__traffic-block">
            <div class="widget-content__traffic-time">22ч</div>
            <div class="widget-content__traffic-count">2</div>
          </div>

          <div class="widget-content__traffic-block">
            <div class="widget-content__traffic-time">23</div>
            <div class="widget-content__traffic-count">1</div>
          </div>

          <div class="widget-content__traffic-block">
            <div class="widget-content__traffic-time">24</div>
            <div class="widget-content__traffic-count">0</div>
          </div>
        </div>
      </div>
    </div>
  </app-plate>
  <app-plate>
    <div class="info-block">
      <header class="info-block__header">
        <h1 class="info-block__header-title">
          <a href="#" class="link _text">Котировки</a>
        </h1>
        <button class="info-block__options options-icon"></button>
      </header>

      <div class="info-block__stocks stocks">
        <a class="stocks__item link _text">
          <div class="stocks-block">
            <div class="stocks-block__main">USD ЦБ</div>
            <div class="stocks-block__additional">3 декабря</div>
          </div>
          <div class="stocks-graph">
            <div class="stocks-graph__image"></div>
          </div>
          <div class="stocks-block">
            <div class="stocks-block__main">74,06 ₽</div>
            <div class="stocks-block__additional">+0,09</div>
          </div>
        </a>
        <a class="stocks__item link _text">
          <div class="stocks-block">
            <div class="stocks-block__main">USD ЦБ</div>
            <div class="stocks-block__additional">3 декабря</div>
          </div>
          <div class="stocks-graph">
            <div class="stocks-graph__image"></div>
          </div>
          <div class="stocks-block">
            <div class="stocks-block__main">74,06 ₽</div>
            <div class="stocks-block__additional">+0,09</div>
          </div>
        </a>
        <a class="stocks__item link _text">
          <div class="stocks-block">
            <div class="stocks-block__main">USD ЦБ</div>
            <div class="stocks-block__additional">3 декабря</div>
          </div>
          <div class="stocks-graph">
            <div class="stocks-graph__image"></div>
          </div>
          <div class="stocks-block">
            <div class="stocks-block__main">74,06 ₽</div>
            <div class="stocks-block__additional">+0,09</div>
          </div>
        </a>
        <a class="stocks__item link _text">
          <div class="stocks-block">
            <div class="stocks-block__main">USD ЦБ</div>
            <div class="stocks-block__additional">3 декабря</div>
          </div>
          <div class="stocks-graph">
            <div class="stocks-graph__image"></div>
          </div>
          <div class="stocks-block">
            <div class="stocks-block__main">74,06 ₽</div>
            <div class="stocks-block__additional">+0,09</div>
          </div>
        </a>
        <a class="stocks__item link _text">
          <div class="stocks-block">
            <div class="stocks-block__main">USD ЦБ</div>
            <div class="stocks-block__additional">3 декабря</div>
          </div>
          <div class="stocks-graph">
            <div class="stocks-graph__image"></div>
          </div>
          <div class="stocks-block">
            <div class="stocks-block__main">74,06 ₽</div>
            <div class="stocks-block__additional">+0,09</div>
          </div>
        </a>
      </div>
    </div>
  </app-plate>

</div>
