<div class="page">
  <app-aside-menu class="page__aside-content"></app-aside-menu>

  <header class="page__headline">
    <app-headline></app-headline>
  </header>

  <main class="page__main">
    <app-services-content></app-services-content>
    <app-search></app-search>
    <section class="columns">
      <div class="columns__col">
        <app-page-content></app-page-content>
      </div>
      <div class="columns__col">
        <app-widgets-list></app-widgets-list>
      </div>

    </section>
  </main>

  <app-footer-line></app-footer-line>

</div>
