<aside class="aside">
  <div class="aside__content-card content-card shadow-box">
    <div class="content-card__inner">
      <a class="content-card__item content-card__sign-in-button sign-in-button">
        <span class="sign-in-button-icon"></span>
        <span class="sign-in-button__text">Войти</span>
      </a>

      <a class="content-card__item link _text">
        <span class="content-card__item-icon ya-mail-item-icon"></span>
        <span class="content-card__item-title">Почта</span>
      </a>

      <a class="content-card__item link _text">
        <span class="content-card__item-icon ya-disk-item-icon"></span>
        <span class="content-card__item-title">Диск</span>
      </a>
    </div>
  </div>

  <div class="aside__content-card content-card shadow-box _hover-offset">
    <a class="content-card__item _thick-paddings">
            <span
              class="content-card__item-icon ya-plus-item-icon content-card__item-plus-icon"
            ></span>
      <span class="content-card__item-title">Попробовать Плюс</span>
    </a>
  </div>
</aside>

